<div id="app">
  <div class="custom-navbar">
    <a href="#" class="navbar-brand">EasyWatering</a>
  </div>
  <nav mat-tab-nav-bar [backgroundColor]="background" [tabPanel]="tabPanel">
    <a mat-tab-link *ngFor="let route of routes"
       (click)="navigateTo(route[0])"
       [active]="activeLink == route[0]"> {{route[1]}} </a>
    <a mat-tab-link *ngIf="isLoggedIn" (click)="logout()">Sair</a>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
<!--   
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">EasyWatering</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Início </a>
      </li>
      <li class="nav-item">
        <a href="/profile" class="nav-link" *ngIf="isLoggedIn" routerLink="profile">Meu Perfil</a>
      </li>
      <li class="nav-item">
        <a href="/board/data" class="nav-link" *ngIf="isLoggedIn" routerLink="board/data">Dados</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Cadastrar</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Entrar</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Sair</a>
      </li>
    </ul>
  </nav> -->

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
