<div class="container my-5">
  <div class="icon-title-container">
    <h1>
    <fa-icon [icon]="faSeedling"></fa-icon>
    <b> Hortas Cadastradas</b></h1>
    <h4><a (click)="handleNewHarvest()">Clique <b>aqui</b> para adicionar uma nova horta</a></h4>
  </div>

  <div *ngFor="let harvest of harvests">
    <mat-card>
      <mat-card-title>{{ harvest.name }}</mat-card-title>
      <mat-card-subtitle class="mt-2 pl-2">{{ harvest.status === true ? 'Ativa' : 'Inativa' }}</mat-card-subtitle>
      <mat-card-content class="pl-2">
        <p>
          <b>Descrição: </b>{{ harvest.desc }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="handleManage(harvest.id)">GERENCIAR</button>
        <button mat-button (click)="handleEdit(harvest.id)">EDITAR</button>
        <button mat-button (click)="handleDelete(harvest.id)">REMOVER</button>
      </mat-card-actions>
    </mat-card>
    <br>
  </div>
</div>
