<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="../../assets/logo-easywatering.jpg"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="full_name">Nome Completo</label>
        <input
          type="text"
          class="form-control"
          name="full_name"
          [(ngModel)]="form.full_name"
          required
          minlength="2"
          maxlength="30"
          #full_name="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && full_name.errors }"
        />
        <div class="invalid-feedback" *ngIf="full_name.errors && f.submitted">
          <div *ngIf="full_name.errors['required']">O Nome é obrigatório</div>
          <div *ngIf="full_name.errors['minlength']">
            O nome não pode conter menos de 2 caracteres
          </div>
          <div *ngIf="full_name.errors['maxlength']">
            O nome não pode conter mais de 30 caracteres
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
        />
        <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">O Email é obrigatório</div>
          <div *ngIf="email.errors['email']">
            O Email é inválido
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">A Senha é obrigatória</div>
          <div *ngIf="password.errors['minlength']">
            A Senha precisa conter mais de 6 caracteres
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Enviar</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Não foi possível registrar: <br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Registrado com sucesso!
    </div>
  </div>
</div>